@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Parkinsans:wght@300..800&display=swap');
@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

:root {
  --primary-color: #8B0000;
  --secondary-color: #202020;
  --heading-font: "Momo Trust Display", sans-serif;
  --body-font: "SF Pro Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background-color: #fdfdfd;
}

a {cursor: pointer;}

p {
    font-size: 22px;
    line-height: 1.25;
    margin: 10px 0 20px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #8B0000, #FF6D03, #571E22);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease infinite;
}


section {position: relative;}

h1, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  font-family: var(--heading-font);
  font-weight: 100;
  line-height: 1.25;
  margin-bottom: 10px;
}
h1 {font-size: 74px;}
h2 {font-size: 45px;}
h3 {font-size: 36px;}
h4 {font-size: 28px;}
h5 {font-size: 26px;}
h5 {font-size: 22px;}


.topTitle {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #8b0000;
  margin-bottom: 15px;
}
.sectionHeading {
  font-size: 68px;
  text-align: center;
}
.description {
  text-align: center;
  font-size: 21px;
  max-width: 850px;
  margin: 0 auto;
}

.goToRound {
  padding: 30px 10px;
  height: 120px;
}
.goToRound a {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--primary-color);
  width: 100%;
  max-width: 60px;
  height: 60px;
  line-height: 42px;
  border-radius: 50%;
  margin: auto;
  color: white;
  font-size: 45px;
  font-weight: bold;
  padding-left: 1px;
}


.wave {
  display: inline-block;
  transform-origin: 70% 70%; /* pivot point near the wrist */
  animation: wave-animation 2.5s infinite;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}



/*********************************************************************************/
/* NAVIGATION CSS */
#Header {
  position: absolute !important;
  width: 100%;
  z-index: 999;
}
#navigationBar {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
#navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f5f5f5;
  padding: 0 20px;
  border-radius: 50px;
  margin-top: 25px;
}
#navigationContainer #logo a {
  font-family: var(--heading-font);
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
}
#navigationContainer #logo a span {
  font-size: 18px;
  font-style: italic;
  margin-left: -5px;
}
#navigationMenu ul {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}
#navigationMenu ul li {list-style: none;}
#navigationMenu ul li a {
  color: black;
  font-family: var(--heading-font);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 68px;
}
#navigationMenu ul li:last-child a {
  background-color: var(--primary-color);
  color: white;
  padding: 7px 20px;
  border-radius: 50px;
}


#homeBanner {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #fff;
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px), linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 70px 70px;
  position: sticky;
  top: 0;
}
#homeBanner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #fdfdfd);
  pointer-events: none;
}
#bannerContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 20px;
  max-width: 1400px;
  margin: auto;
  gap: 50px;
  height: 80vh;
}

#bannerContent {
    width: 65%;
    margin-top: 7%;
    position: relative;
    z-index: 1;
}
#bannerContent h1 {margin: 0;}
#bannerContent .bannerSubHeading {
    font-size: 38px;
    line-height: 1.1;
    font-weight: bold;
    max-width: 600px;
    display: block;
}
#bannerContent p {
    max-width: 650px;
    margin-top: 25px;
}


.heroImageWrapper {
  width: 50%;
  height: 80vh;
  position: relative;
}
.heroImageWrapper::before {
  content: "";
  width: 100%;
  max-width: 100%;
  height: 40%;
  display: block;
  margin: auto;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.heroImageWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65%;
  background: linear-gradient(to bottom, transparent, #fdfdfd);
  pointer-events: none;
}
.heroImageWrapper img {
    width: 100%;
    max-width: 100%;
    height: 650px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  margin-top: 35px;
}


#homeAbout {
  width: 100%;
  padding: 120px 20px 180px;
  background-color: #fdfdfd;
}
#aboutContainer {
  width: 100%;
  max-width: 1360px;
  padding-top: 30px;
  margin: auto;
}

.happenContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.photoHappen {
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  overflow: hidden;
}

.photoHappen::before {
  content: '';
  width: 670px;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--secondary-color);
  top: -85px;
  left: 0;
  border-top-right-radius: 40px;
}
.photoHappen::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: 0;
  width: 10%;
  height: 82%;
  background: linear-gradient(to left, transparent, var(--secondary-color));
  pointer-events: none;
  filter: blur(5px);
}

.photoHappen img {
  width: 100%;
  max-width: 240px;
  border-radius: 50px;
  height: 315px;
  flex-shrink: 0;
  object-fit: cover;
  position: relative;
  opacity: 0.6;
}
.photoHappen img:last-child {
  width: 100%;
  max-width: 400px;
  height: 510px;
  opacity: 1;
}


.aboutHappen {
  width: 55%;
}




.skillsSection {
  display: flex;
  align-items: center;
  margin: 50px 0 0;

  padding-top: 35px;
  border-top: 1px solid #efefef;

}

.skillsIcons {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(9, 1fr);
}
.skillsSection h4 {
  margin: 0;
  width: 100%;
  max-width: 250px;
}
.marquee__content img {
  width: 50px;
  height: 50px;
  filter: brightness(0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.marquee__content img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}


.aboutHappen p {
  max-width: 800px;
}



#happenSection {
  padding: 0 0 150px;
  background-color: #fdfdfd;
}



#homeProjects {
  padding: 150px 0;
  background-color: white;
}


.projectDesc {margin-bottom: 60px;}
.projectDesc h2 {  
  font-size: 76px;
}
.projectDesc p {
  font-size: 24px;
  max-width: 950px;
}

.TitleHolder {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  z-index: 1;
}

#projectContainer {
  display: flex;
  gap: 100px;
}


#listProjectDescription {
  width: 35%;
  padding-top: 23%;
  color: white;
}
#listProjectDescription::before {
  content: '';
  width: 670px;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--secondary-color);
  top: -150px;
  left: 0;
  border-bottom-right-radius: 40px;
}

#projectDescriptionContainer {
  position: sticky;
  top: 60px;
  padding: 60px;
}

#listProjectImage {
  width: 62%;
  padding-right: 80px;
}

#projectImageContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#listProjectImage img {
  border-radius: 40px;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  position: sticky;
  top: 40px;
}



#homeProcess {
  background-color: white;
  padding: 0 20px 150px;
}
#homeProcessContainer {
  width: 100%;
  max-width: 1380px;
  margin: auto;
}
#processContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
}

#processContainer .processCard {
  padding: 60px;
}
#processContainer .processCard + .processCard {
  border-left: 1px solid #efefef;
}
.processNumber {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 60px;
}




.marquee::before {
  content: '';
  position: absolute;
  left: 0;
  width: 17%;
  height: 100%;
  background: linear-gradient(to left, transparent, #fdfdfd);

  pointer-events: none;
  z-index: 1;
}
.marquee::after {
  content: '';
  position: absolute;
  right: 0;
  width: 17%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fdfdfd);

  pointer-events: none;
  z-index: 1;
}
.marquee {
  --gap: 30px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  position: relative;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 30s linear infinite;
  padding: 20px 0;
}
.marquee__content li {
  list-style: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}